<div class="run" data-status="<%= run.status %>">
  <%= link_to "##{run.id}", "#run_#{run.id}", class: "run-permalink", title: "Run ID" %>
  <details class="box" open id="run_<%= run.id %>">
    <summary class="is-flex is-align-items-center">
      <h3 class="title is-5 has-text-weight-medium pr-5 mb-0">
        <%= time_tag run.created_at, aria: { label: "#{run.created_at.utc.strftime("%B %-d, %Y at %H:%M")} UTC" } %>
      </h3>
      <%= status_tag run.status %>
    </summary>

    <%= render "maintenance_tasks/runs/run_body", run: run %>
  </details>
</div>
